In [85]:
import pandas as pd
import numpy as np
from statsmodels.stats import weightstats as stests
from statsmodels.stats.proportion import proportions_ztest

## DATA OVERVIEW & DATA PREPARATION

In [86]:
#Read file into pandas datafram
demo=pd.read_excel('/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/df_final_demo.xlsx')
demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [87]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [88]:
demo.isnull().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [89]:
#Checking for the null rows
demo[demo["clnt_age"].isnull()]

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
4164,7402828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8316,355337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677,8412164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9583,4666211,8.0,106.0,NaN,F,2.0,42550.55,4.0,7.0
13444,2222915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18066,4876926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25961,5277910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28432,7616759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35323,8191345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43518,1227228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46076,8611797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47189,5144725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49846,1037867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63701,1618749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66219,6021001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
demo=demo[demo["clnt_age"].notnull()]
demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70594 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70594 non-null  int64
 1   clnt_tenure_yr    70594 non-null  float64
 2   clnt_tenure_mnth  70594 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70594 non-null  object
 5   num_accts         70594 non-null  float64
 6   bal               70594 non-null  float64
 7   calls_6_mnth      70594 non-null  float64
 8   logons_6_mnth     70594 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.4+ MB

In [91]:
web1=pd.read_excel('/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/df_final_web_data_pt_1.xlsx')
web1.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [92]:
web2=pd.read_excel('/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/df_final_web_data_pt_2.xlsx')
web2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [93]:
web1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 13.1+ MB

In [94]:
web1.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [95]:
web2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 15.7+ MB

In [96]:
web2.isnull().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [97]:
exp=pd.read_excel('/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/df_final_experiment_clients.xlsx')
exp.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [98]:
exp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [99]:
exp.isnull().sum()

client_id        0
Variation    20109
dtype: int64

In [100]:
# Create a list of the files in order of appending
# Merge all the dataframes in df_comb
df_comb = [web1,web2]

# Pandas will automatically append based on similar column names
web = pd.concat(df_comb)

# Write the appended dataframe to an excel file
# Add index=False parameter to not include row numbers
web.to_excel("/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/WebActivity_combined.xlsx", index=False)

In [101]:
web.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 755405 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.6+ MB

In [102]:
# Inner Join between web activity data and group classification data
web_exp = web.merge(exp, how="inner", on="client_id")
web_exp.to_excel("/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/WebActivity_Experiment.xlsx", index=False)

In [103]:
web_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 449831 entries, 0 to 449830
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     449831 non-null  int64
 1   visitor_id    449831 non-null  object
 2   visit_id      449831 non-null  object
 3   process_step  449831 non-null  object
 4   date_time     449831 non-null  datetime64[ns]
 5   Variation     321309 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 24.0+ MB

In [104]:
web_exp.isnull().sum()

client_id            0
visitor_id           0
visit_id             0
process_step         0
date_time            0
Variation       128522
dtype: int64

In [105]:
web_exp.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test

In [106]:
#Dropping the rows having null values
web_exp2=web_exp.dropna(how='any')
web_exp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321309 entries, 0 to 426313
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     321309 non-null  int64
 1   visitor_id    321309 non-null  object
 2   visit_id      321309 non-null  object
 3   process_step  321309 non-null  object
 4   date_time     321309 non-null  datetime64[ns]
 5   Variation     321309 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 17.2+ MB

In [107]:
#Inner join between the combined dataset and demographic data
df = web_exp2.merge(demo, how="inner", on="client_id")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321195 entries, 0 to 321194
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  int64
 1   visitor_id        321195 non-null  object
 2   visit_id          321195 non-null  object
 3   process_step      321195 non-null  object
 4   date_time         321195 non-null  datetime64[ns]
 5   Variation         321195 non-null  object
 6   clnt_tenure_yr    321195 non-null  float64
 7   clnt_tenure_mnth  321195 non-null  float64
 8   clnt_age          321195 non-null  float64
 9   gendr             321195 non-null  object
 10  num_accts         321195 non-null  float64
 11  bal               321195 non-null  float64
 12  calls_6_mnth      321195 non-null  float64
 13  logons_6_mnth     321195 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 36.8+ MB

In [108]:
#Sorting the data by visit_ids and date_time
df=df.sort_values(['visit_id','date_time'],ascending=True)

In [109]:
#Saving the prepared dataset
df.to_excel("/Users/ashishtomar/Documents/Applications/Vanguard/Case Study/Case Study/Final_dataset.xlsx", index=False)

In [110]:
df["Variation"].value_counts()

Test       177787
Control    143408
Name: Variation, dtype: int64

## EXPERIMENTAL DESIGN CHECK (for randomization)

In [111]:
df.groupby(['Variation']).mean()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,num_accts,bal,calls_6_mnth,logons_6_mnth
Variation,,,,,,,,
Control,5.014431e+06,12.172152,152.052194,48.309896,2.274022,159408.416536,3.275814,6.311621
Test,5.006003e+06,12.180058,152.201466,48.750018,2.254040,164477.426879,3.205392,6.245609

In [134]:
#Splitting the data into control group and test group
c1=df[df["Variation"]=='Control']
t1=df[df["Variation"]=='Test']

In [135]:
#Extracting the demogaphic data into series for Z-test
c1_age=c1['clnt_age']
c1_tenure=c1['clnt_tenure_mnth']
c1_num_accts=c1['num_accts']
c1_bal=c1['bal']
c1_calls=c1['calls_6_mnth']
c1_logons=c1['logons_6_mnth']
t1_age=t1['clnt_age']
t1_tenure=t1['clnt_tenure_mnth']
t1_num_accts=t1['num_accts']
t1_bal=t1['bal']
t1_calls=t1['calls_6_mnth']
t1_logons=t1['logons_6_mnth']

In [114]:
#to display all rows mentioned in head()
pd.set_option('display.max_rows',500)

### Statistical Test on Demographics

### a) Age

In [136]:
#Two-tailed Z-test for Age
ztest ,pval = stests.ztest(c1_age,t1_age,value=0, alternative='two-sided')
print("Z-statistic for client age:", ztest)
print("p-value:", pval)

Z-statistic for client age: -7.926400435419628
p-value: 2.255893539888405e-15

### b) Tenure

In [137]:
#Two-tailed Z-test for Tenure
ztest ,pval = stests.ztest(c1_tenure,t1_tenure,value=0, alternative='two-sided')
print("Z-statistic for client tenure:", ztest)
print("p-value:", pval)

Z-statistic for client tenure: -0.5054199559952703
p-value: 0.6132639053956633

### c) Number of Accounts

In [138]:
#Two-tailed Z-test for Number of Accounts
ztest ,pval = stests.ztest(c1_num_accts,t1_num_accts,value=0, alternative='two-sided')
print("Z-statistic for number of accounts:", ztest)
print("p-value:", pval)

Z-statistic for number of accounts: 10.397898754069145
p-value: 2.534606481125466e-25

### d) Balance

In [139]:
#Two-tailed Z-test for Balance
ztest ,pval = stests.ztest(c1_bal,t1_bal,value=0, alternative='two-sided')
print("Z-statistic for balance:", ztest)
print("p-value:", pval)

Z-statistic for balance: -4.0866430148046
p-value: 4.376597446309564e-05

### e) Number of calls

In [140]:
#Two-tailed Z-test for Number of calls
ztest ,pval = stests.ztest(c1_calls,t1_calls,value=0, alternative='two-sided')
print("Z-statistic for number of calls:", ztest)
print("p-value:", pval)

Z-statistic for number of calls: 9.045734571879295
p-value: 1.4866222621367004e-19

### f) Number of logons

In [141]:
#Two-tailed Z-test for Number of logons
ztest ,pval = stests.ztest(c1_logons,t1_logons,value=0, alternative='two-sided')
print("Z-statistic for number of logons:", ztest)
print("p-value:", pval)

Z-statistic for number of logons: 8.533386925260755
p-value: 1.4212435967967977e-17

### g) Gender

In [121]:
c1["gendr"].value_counts()

U    49360
M    48323
F    45725
Name: gendr, dtype: int64

In [142]:
t1["gendr"].value_counts()

M    59690
U    59524
F    58565
X        8
Name: gendr, dtype: int64

In [143]:
#Two-tailed Proportions Z-test for Gender
males_num=np.array([48323,59690])
total_num=np.array([143408,177787])
(test_stat, p_value)=proportions_ztest(males_num,total_num, alternative='two-sided')
print("Z-statistic for gender:", test_stat)
print("p-value:", p_value)

Z-statistic for gender: 0.7292530033983262
p-value: 0.4658469143504317

## SUCCESS METRICS FORMULATION

### Step flags

In [124]:
#Adding flags for all the process steps
df['flag_start'] = np.where(df['process_step']=='start', 1, 0)
df['flag_step1'] = np.where(df['process_step']=='step_1', 1, 0)
df['flag_step2'] = np.where(df['process_step']=='step_2', 1, 0)
df['flag_step3'] = np.where(df['process_step']=='step_3', 1, 0)
df['flag_confirm'] = np.where(df['process_step']=='confirm', 1, 0)

In [125]:
df.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,flag_start,flag_step1,flag_step2,flag_step3,flag_confirm
116328,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0,0,0,0,0,1
116327,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,4.0,56.0,59.5,U,2.0,63130.44,6.0,9.0,0,0,0,0,1
256722,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0,1,0,0,0,0
256721,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0,0,1,0,0,0
256720,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,7.0,88.0,23.5,M,2.0,26436.73,6.0,9.0,0,0,1,0,0

### Step transition flags

In [126]:
#Adding a column to display the process step in the next row, within the same visit_id
df['lead']=df.groupby('visit_id')['process_step'].shift(-1)

In [127]:
#Adding flags to check the step transitions
df['flag_start-step1'] = np.where((df['process_step']=='start') & (df['lead']=='step_1'), 1, 0)
df['flag_step1-step2'] = np.where((df['process_step']=='step_1') & (df['lead']=='step_2'), 1, 0)
df['flag_step2-step3'] = np.where((df['process_step']=='step_2') & (df['lead']=='step_3'), 1, 0)
df['flag_step3-confirm'] = np.where((df['process_step']=='step_3') & (df['lead']=='confirm'), 1, 0)
df.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,...,flag_start,flag_step1,flag_step2,flag_step3,flag_confirm,lead,flag_start-step1,flag_step1-step2,flag_step2-step3,flag_step3-confirm
116328,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,...,0,0,0,0,1,confirm,0,0,0,0
116327,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,4.0,56.0,59.5,U,...,0,0,0,0,1,NaN,0,0,0,0
256722,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,7.0,88.0,23.5,M,...,1,0,0,0,0,step_1,1,0,0,0
256721,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,7.0,88.0,23.5,M,...,0,1,0,0,0,step_2,0,1,0,0
256720,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,7.0,88.0,23.5,M,...,0,0,1,0,0,step_1,0,0,0,0
256719,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,7.0,88.0,23.5,M,...,0,1,0,0,0,step_1,0,0,0,0
256718,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,7.0,88.0,23.5,M,...,0,1,0,0,0,start,0,0,0,0
256717,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,7.0,88.0,23.5,M,...,1,0,0,0,0,start,0,0,0,0
256716,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,7.0,88.0,23.5,M,...,1,0,0,0,0,step_1,1,0,0,0
256715,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,7.0,88.0,23.5,M,...,0,1,0,0,0,step_2,0,1,0,0

### Step drop-off flags

In [128]:
#Adding flags to check the step drop-offs
df['flag_start-dropoff'] = np.where((df['process_step']=='start') & (df['lead'].isnull()), 1, 0)
df['flag_step1-dropoff'] = np.where((df['process_step']=='step_1') & (df['lead'].isnull()), 1, 0)
df['flag_step2-dropoff'] = np.where((df['process_step']=='step_2') & (df['lead'].isnull()), 1, 0)
df['flag_step3-dropoff'] = np.where((df['process_step']=='step_3') & (df['lead'].isnull()), 1, 0)
df.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,...,flag_confirm,lead,flag_start-step1,flag_step1-step2,flag_step2-step3,flag_step3-confirm,flag_start-dropoff,flag_step1-dropoff,flag_step2-dropoff,flag_step3-dropoff
116328,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,...,1,confirm,0,0,0,0,0,0,0,0
116327,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,4.0,56.0,59.5,U,...,1,NaN,0,0,0,0,0,0,0,0
256722,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,7.0,88.0,23.5,M,...,0,step_1,1,0,0,0,0,0,0,0
256721,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,7.0,88.0,23.5,M,...,0,step_2,0,1,0,0,0,0,0,0
256720,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,7.0,88.0,23.5,M,...,0,step_1,0,0,0,0,0,0,0,0
256719,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,7.0,88.0,23.5,M,...,0,step_1,0,0,0,0,0,0,0,0
256718,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,7.0,88.0,23.5,M,...,0,start,0,0,0,0,0,0,0,0
256717,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,7.0,88.0,23.5,M,...,0,start,0,0,0,0,0,0,0,0
256716,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,7.0,88.0,23.5,M,...,0,step_1,1,0,0,0,0,0,0,0
256715,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,7.0,88.0,23.5,M,...,0,step_2,0,1,0,0,0,0,0,0

### Step transition time flags

In [132]:
#Adding a column to display the timestamp of process step in the next row, within the same visit_id
df['leadtime']=df.groupby('visit_id')['date_time'].shift(-1)

In [133]:
#Adding flags to store step transition times
df['start_time'] = np.where((df['flag_start-step1']==1), df['leadtime']-df['date_time'], 0)
df['step1_time'] = np.where((df['flag_step1-step2']==1), df['leadtime']-df['date_time'], 0)
df['step2_time'] = np.where((df['flag_step2-step3']==1), df['leadtime']-df['date_time'], 0)
df['step3_time'] = np.where((df['flag_step3-confirm']==1), df['leadtime']-df['date_time'], 0)
df.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,...,flag_step3-confirm,flag_start-dropoff,flag_step1-dropoff,flag_step2-dropoff,flag_step3-dropoff,leadtime,start_time,step1_time,step2_time,step3_time
116328,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,4.0,56.0,59.5,U,...,0,0,0,0,0,2017-04-26 13:23:09,0 days 00:00:00,0 days 00:00:00,0 days,0 days
116327,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,4.0,56.0,59.5,U,...,0,0,0,0,0,NaT,0 days 00:00:00,0 days 00:00:00,0 days,0 days
256722,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:21:12,0 days 00:00:16,0 days 00:00:00,0 days,0 days
256721,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:21:21,0 days 00:00:00,0 days 00:00:09,0 days,0 days
256720,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:21:35,0 days 00:00:00,0 days 00:00:00,0 days,0 days
256719,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:21:41,0 days 00:00:00,0 days 00:00:00,0 days,0 days
256718,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:21:45,0 days 00:00:00,0 days 00:00:00,0 days,0 days
256717,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:21:59,0 days 00:00:00,0 days 00:00:00,0 days,0 days
256716,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:22:04,0 days 00:00:05,0 days 00:00:00,0 days,0 days
256715,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,7.0,88.0,23.5,M,...,0,0,0,0,0,2017-04-09 16:22:08,0 days 00:00:00,0 days 00:00:04,0 days,0 days

In [144]:
#Splitting the data into control group and test group, after adding all the flags
c=df[df["Variation"]=='Control']
t=df[df["Variation"]=='Test']

### CONFIRM RATE

####  =  (.      )/( .  )

In [147]:
#Flag-start counted once for one visit id
#Number of distinct start from each visit_id in control group
start_num_c=c.groupby('flag_start')["visit_id"].nunique()
start_num_c=start_num_c.iloc[1]
start_num_c

30903

In [148]:
#Number of distinct confirm from each visit_id in control group
confirm_num_c=c.groupby('flag_confirm')["visit_id"].nunique()
confirm_num_c=confirm_num_c.iloc[1]
confirm_num_c

16039

In [149]:
#Number of distinct start from each visit_id in test group
start_num_t=t.groupby('flag_start')["visit_id"].nunique()
start_num_t=start_num_t.iloc[1]
start_num_t

33144

In [150]:
#Number of distinct confirm from each visit_id in test group
confirm_num_t=t.groupby('flag_confirm')["visit_id"].nunique()
confirm_num_t=confirm_num_t.iloc[1]
confirm_num_t

21725

In [152]:
#Confirm rate of Control Group
print("Confirm rate of Control Group",confirm_num_c/start_num_c)
#Confirm rate of Test Group
print("Confirm rate of Test Group",confirm_num_t/start_num_t)

Confirm rate of Control Group 0.5190110992460278
Confirm rate of Test Group 0.6554730871349264

### Variation of Confirm Rates based on gender

In [153]:
#Splitting the control and test groups on the basis of male and female genders
m_c=c[c["gendr"]=='M']
f_c=c[c["gendr"]=='F']
m_t=t[t["gendr"]=='M']
f_t=t[t["gendr"]=='F']

In [154]:
#Control group confirm rate comparison between different genders
#start
start_num_mc=m_c.groupby('flag_start')["visit_id"].nunique().iloc[1]
start_num_fc=f_c.groupby('flag_start')["visit_id"].nunique().iloc[1]
start_num_mt=m_t.groupby('flag_start')["visit_id"].nunique().iloc[1]
start_num_ft=f_t.groupby('flag_start')["visit_id"].nunique().iloc[1]
#confirm
confirm_num_mc=m_c.groupby('flag_confirm')["visit_id"].nunique().iloc[1]
confirm_num_fc=f_c.groupby('flag_confirm')["visit_id"].nunique().iloc[1]
confirm_num_mt=m_t.groupby('flag_confirm')["visit_id"].nunique().iloc[1]
confirm_num_ft=f_t.groupby('flag_confirm')["visit_id"].nunique().iloc[1]

In [155]:
print("Confirm rate of Males in Control Group",confirm_num_mc/start_num_mc)
print("Confirm rate of Females in Control Group",confirm_num_fc/start_num_fc)
print("Confirm rate of Males in Test Group",confirm_num_mt/start_num_mt)
print("Confirm rate of Females in Test Group",confirm_num_ft/start_num_ft)

Confirm rate of Males in Control Group 0.5206844678450545
Confirm rate of Females in Control Group 0.5036057692307693
Confirm rate of Males in Test Group 0.6830606006114008
Confirm rate of Females in Test Group 0.6346686357762599

### Statistical Test for Confirm Rate

In [156]:
#Left-tailed Proportions Z-Test for Confirm rate
confirm_num=np.array([confirm_num_c,confirm_num_t])
start_num=np.array([start_num_c,start_num_t])
(test_stat, p_value)=proportions_ztest(confirm_num,start_num, alternative='smaller')
print("Z-statistic for confirm rate:", test_stat)
print("p-value:", p_value)

Z-statistic for confirm rate: -35.08224753617665
p-value: 6.287002370874247e-270

## DROP-OFF RATE

####  =  (.       )/( .         )

### Drop-off rate for 'Start'

In [206]:
#Control group drop-off rate for 'start'
ss1_c=c['flag_start-step1'].sum()
sdrop_c=c['flag_start-dropoff'].sum()
sdrop_rate_c=sdrop_c/(sdrop_c+ss1_c)
print("Start Drop-off rate for control group:", sdrop_rate_c)

Start Drop-off rate for control group: 0.2723240769513263

In [207]:
#Test group drop-off rate for 'start'
ss1_t=t['flag_start-step1'].sum()
sdrop_t=t['flag_start-dropoff'].sum()
sdrop_rate_t=sdrop_t/(sdrop_t+ss1_t)
print("Start Drop-off rate for test group:", sdrop_rate_t)

Start Drop-off rate for test group: 0.22069545709478408

### Drop-off rate for 'Step1'

In [166]:
#Control group drop-off rate for 'step1'
s1s2_c=c['flag_step1-step2'].sum()
s1drop_c=c['flag_step1-dropoff'].sum()
s1drop_rate_c=s1drop_c/(s1drop_c+s1s2_c)
print("Step1 Drop-off rate for control group:", s1drop_rate_c)

Step1 Drop-off rate for control group: 0.13521366859091086

In [167]:
#Test group drop-off rate for 'step1'
s1s2_t=t['flag_step1-step2'].sum()
s1drop_t=t['flag_step1-dropoff'].sum()
s1drop_rate_t=s1drop_t/(s1drop_t+s1s2_t)
print("Step1 Drop-off rate for test group:", s1drop_rate_t)

Step1 Drop-off rate for test group: 0.10238662705279311

### Drop-off rate for 'Step2'

In [169]:
#Control group drop-off rate for 'step2'
s2s3_c=c['flag_step2-step3'].sum()
s2drop_c=c['flag_step2-dropoff'].sum()
s2drop_rate_c=s2drop_c/(s2drop_c+s2s3_c)
print("Step2 Drop-off rate for control group:", s2drop_rate_c)

Step2 Drop-off rate for control group: 0.06412852112676057

In [170]:
#Test group drop-off rate for 'step2'
s2s3_t=t['flag_step2-step3'].sum()
s2drop_t=t['flag_step2-dropoff'].sum()
s2drop_rate_t=s2drop_t/(s2drop_t+s2s3_t)
print("Step2 Drop-off rate for test group:", s2drop_rate_t)

Step2 Drop-off rate for test group: 0.05174035747883349

### Drop-off rate for 'Step3'

In [171]:
#Control group drop-off rate for 'step3'
s3c_c=c['flag_step3-confirm'].sum()
s3drop_c=c['flag_step3-dropoff'].sum()
s3drop_rate_c=s3drop_c/(s3drop_c+s3c_c)
print("Step3 Drop-off rate for control group:", s3drop_rate_c)

Step3 Drop-off rate for control group: 0.1283660429027841

In [172]:
#Test group drop-off rate for 'step3'
s3c_t=t['flag_step3-confirm'].sum()
s3drop_t=t['flag_step3-dropoff'].sum()
s3drop_rate_t=s3drop_t/(s3drop_t+s3c_t)
print("Step3 Drop-off rate for test group:", s3drop_rate_t)

Step3 Drop-off rate for test group: 0.08847624249044238

### Statistical Test for Drop-Off Rates

#### Statistical Test for 'Start' Drop-Off Rates

In [173]:
#Right-tailed Proportions Z-Test for Drop-off rate
start_drops_offs=np.array([sdrop_c,sdrop_t])
start_total=np.array([sdrop_c+ss1_c,sdrop_t+ss1_t])
(test_stat, p_value)=proportions_ztest(start_drops_offs,start_total, alternative='larger')
print("Z-statistic for start drop-off rate:", test_stat)
print("p-value:", p_value)

Z-statistic for start drop-off rate: 16.72982992926426
p-value: 3.973243414373153e-63

#### Statistical Test for 'Step1' Drop-Off Rates

In [174]:
#Right-tailed Proportions Z-Test for Drop-off rate
step1_drops_offs=np.array([s1drop_c,s1drop_t])
step1_total=np.array([s1drop_c+s1s2_c,s1drop_t+s1s2_t])
(test_stat, p_value)=proportions_ztest(step1_drops_offs,step1_total, alternative='larger')
print("Z-statistic for step1 drop-off rate:", test_stat)
print("p-value:", p_value)

Z-statistic for step1 drop-off rate: 12.069593615078004
p-value: 7.644371736016304e-34

#### Statistical Test for 'Step2' Drop-Off Rates

In [175]:
#Right-tailed Proportions Z-Test for Drop-off rate
step2_drops_offs=np.array([s2drop_c,s2drop_t])
step2_total=np.array([s2drop_c+s2s3_c,s2drop_t+s2s3_t])
(test_stat, p_value)=proportions_ztest(step2_drops_offs,step2_total, alternative='larger')
print("Z-statistic for step2 drop-off rate:", test_stat)
print("p-value:", p_value)

Z-statistic for step2 drop-off rate: 5.830049134236932
p-value: 2.770552895429687e-09

#### Statistical Test for 'Step3' Drop-Off rate

In [176]:
#Right-tailed Proportions Z-Test for Drop-off rate
step3_drops_offs=np.array([s3drop_c,s3drop_t])
step3_total=np.array([s3drop_c+s3c_c,s2drop_t+s3c_t])
(test_stat, p_value)=proportions_ztest(step3_drops_offs,step3_total, alternative='larger')
print("Z-statistic for step3 drop-off rate:", test_stat)
print("p-value:", p_value)

Z-statistic for step3 drop-off rate: 11.712552144347747
p-value: 5.496015019152371e-32

## NAVIGATION TIME

#### .   =  (    )/( .         )

### Avg. Navigation Time for 'Start'

In [178]:
s_avgtime_c=c['start_time'].sum()/c['flag_start-step1'].sum()
print("Avg. Navigation Time for 'Start' for control group:", s_avgtime_c)
s_avgtime_t=t['start_time'].sum()/t['flag_start-step1'].sum()
print("Avg. Navigation Time for 'Start' for test group:", s_avgtime_t)

Avg.Navigation Time for 'Start' for control group: 0 days 00:00:37.643309134
Avg.Navigation Time for 'Start' for test group: 0 days 00:00:31.032295789

### Avg. Navigation Time for 'Step1'

In [179]:
s1_avgtime_c=c['step1_time'].sum()/c['flag_step1-step2'].sum()
print("Avg. Navigation Time for 'Step1' for control group:", s1_avgtime_c)
s1_avgtime_t=t['step1_time'].sum()/t['flag_step1-step2'].sum()
print("Avg. Navigation Time for 'Step1' for test group:", s1_avgtime_t)

Avg. Navigation Time for 'Step1' for control group: 0 days 00:00:33.828905514
Avg. Navigation Time for 'Step1' for test group: 0 days 00:00:37.098643291

### Avg. Navigation Time for 'Step2'

In [180]:
s2_avgtime_c=c['step2_time'].sum()/c['flag_step2-step3'].sum()
print("Avg. Navigation Time for 'Step2' for control group:", s2_avgtime_c)
s2_avgtime_t=t['step2_time'].sum()/t['flag_step2-step3'].sum()
print("Avg. Navigation Time for 'Step2' for test group:", s2_avgtime_t)

Avg. Navigation Time for 'Step2' for control group: 0 days 00:01:27.016225368
Avg. Navigation Time for 'Step2' for test group: 0 days 00:01:26.468212632

### Avg. Navigation Time for 'Step3'

In [182]:
s3_avgtime_c=c['step3_time'].sum()/c['flag_step3-confirm'].sum()
print("Avg. Navigation Time for 'Step3' for control group:", s3_avgtime_c)
s3_avgtime_t=t['step3_time'].sum()/t['flag_step3-confirm'].sum()
print("Avg. Navigation Time for 'Step3' for test group:", s3_avgtime_t)

Avg. Navigation Time for 'Step3' for control group: 0 days 00:02:07.128812671
Avg. Navigation Time for 'Step3' for test group: 0 days 00:01:44.843782341

### Statistical Test for Navigation Time

In [183]:
#Converting navigation time into seconds
df['start_time_sec']=df['start_time'].dt.total_seconds()
df['step1_time_sec']=df['step1_time'].dt.total_seconds()
df['step2_time_sec']=df['step2_time'].dt.total_seconds()
df['step3_time_sec']=df['step3_time'].dt.total_seconds()

In [184]:
#Extracting the time data into series for Z-test
#Control Group
cs=c['start_time'].dt.total_seconds()
cs=cs[cs!=0]
cs1=c['step1_time'].dt.total_seconds()
cs1=cs1[cs1!=0]
cs2=c['step2_time'].dt.total_seconds()
cs2=cs2[cs2!=0]
cs3=c['step3_time'].dt.total_seconds()
cs3=cs3[cs3!=0]
#Test Group
ts=t['start_time'].dt.total_seconds()
ts=ts[ts!=0]
ts1=t['step1_time'].dt.total_seconds()
ts1=ts1[ts1!=0]
ts2=t['step2_time'].dt.total_seconds()
ts2=ts2[ts2!=0]
ts3=t['step3_time'].dt.total_seconds()
ts3=ts3[ts3!=0]

#### Statistical Test for 'Start' Navigation Time

In [185]:
#Right-tailed Z-test for Navigation Time
ztest ,pval = stests.ztest(cs,ts,value=0, alternative='larger')
print("Z-statistic for time spent on 'Start':", ztest)
print("p-value:", pval)

Z-statistic for time spent on 'Start': 9.65320239988468
p-value: 2.3822080839738875e-22

#### Statistical Test for 'Step1' Navigation Time

In [186]:
#Right-tailed Z-test for 'Step1' Navigation Time
ztest ,pval = stests.ztest(cs1,ts1,value=0, alternative='larger')
print("Z-statistic for time spent on 'Step1':", ztest)
print("p-value:", pval)

Z-statistic for time spent on 'Step1': -6.514861618340062
p-value: 0.9999999999636217

In [187]:
#Left-tailed Z-test for 'Step1' Navigation Time
ztest ,pval = stests.ztest(cs1,ts1,value=0, alternative='smaller')
print("Z-statistic for time spent on 'Step1':", ztest)
print("p-value:", pval)

Z-statistic for time spent on 'Step1': -6.514861618340062
p-value: 3.637835044913524e-11

#### Statistical Test for 'Step2' Navigation Time

In [188]:
#Right-tailed Z-test for 'Step2' Navigation Time
ztest ,pval = stests.ztest(cs2,ts2,value=0, alternative='larger')
print("Z-statistic for time spent on 'Step2':", ztest)
print("p-value:", pval)

Z-statistic for time spent on 'Step2': 0.8222943847865741
p-value: 0.20545468588904298

In [189]:
#Left-tailed Z-test for 'Step2' Navigation Time
ztest ,pval = stests.ztest(cs2,ts2,value=0, alternative='smaller')
print("Z-statistic for time spent on 'Step2':", ztest)
print("p-value:", pval)

Z-statistic for time spent on 'Step2': 0.8222943847865741
p-value: 0.7945453141109571

#### Statistical Test for 'Step3' Navigation Time

In [190]:
#Right-tailed Z-test for 'Step3' Navigation Time
ztest ,pval = stests.ztest(cs3,ts3,value=0, alternative='larger')
print("Z-statistic for time spent on 'Step3':", ztest)
print("p-value:", pval)

Z-statistic for time spent on 'Step3': 13.256024552164767
p-value: 2.081955440019988e-40

## STEP RECURRENCE

####   =  (.      )/( .   ( )   )

### Step Recurrence Metric for 'Start'

In [208]:
start_total_c=c['flag_start'].sum()
rec_start_c=start_num_c/start_total_c
print("Step Recurrence Metric for 'Start' for control group:", rec_start_c)
start_total_t=t['flag_start'].sum()
rec_start_t=start_num_t/start_total_t
print("Step Recurrence Metric for 'Start' for test group:", rec_start_t)

Step Recurrence Metric for 'Start' for control group: 0.6493727542079052
Step Recurrence Metric for 'Start' for test group: 0.5871182597605045

### Step Recurrence Metric for 'Step1'

In [209]:
step1_total_c=c['flag_step1'].sum()
step1_num_c=c.groupby('flag_step1')["visit_id"].nunique().iloc[1]
rec_step1_c=step1_num_c/step1_total_c
print("Step Recurrence Metric for 'Step1 for control group':", rec_step1_c)
step1_total_t=t['flag_step1'].sum()
step1_num_t=t.groupby('flag_step1')["visit_id"].nunique().iloc[1]
rec_step1_t=step1_num_t/step1_total_t
print("Step Recurrence Metric for 'Step1' for test group:", rec_step1_t)

Step Recurrence Metric for 'Step1 for control group': 0.793775499881984
Step Recurrence Metric for 'Step1' for test group: 0.7295951281191133

### Step Recurrence Metric for 'Step2'

In [193]:
step2_total_c=c['flag_step2'].sum()
step2_num_c=c.groupby('flag_step2')["visit_id"].nunique().iloc[1]
rec_step2_c=step2_num_c/step2_total_c
print("Step Recurrence Metric for 'Step2 for control group':", rec_step2_c)
step2_total_t=t['flag_step2'].sum()
step2_num_t=t.groupby('flag_step2')["visit_id"].nunique().iloc[1]
rec_step2_t=step2_num_t/step2_total_t
print("Step Recurrence Metric for 'Step2 for test group':", rec_step2_t)

Step Recurrence Metric for 'Step2 for control group': 0.7779495304710747
Step Recurrence Metric for 'Step2 for test group': 0.7906578862418491

### Step Recurrence Metric for 'Step3'

In [210]:
step3_total_c=c['flag_step3'].sum()
step3_num_c=c.groupby('flag_step3')["visit_id"].nunique().iloc[1]
rec_step3_c=step3_num_c/step3_total_c
print("Step Recurrence Metric for 'Step3 for control group':", rec_step3_c)
step3_total_t=t['flag_step3'].sum()
step3_num_t=t.groupby('flag_step3')["visit_id"].nunique().iloc[1]
rec_step3_t=step3_num_t/step3_total_t
print("Step Recurrence Metric for 'Step3 for test group':", rec_step3_t)

Step Recurrence Metric for 'Step3 for control group': 0.8027822881467503
Step Recurrence Metric for 'Step3 for test group': 0.8567676143386898

### Step Recurrence Metric for 'Confirm'

In [196]:
confirm_total_c=c['flag_confirm'].sum()
rec_confirm_c=confirm_num_c/confirm_total_c
print("Step Recurrence Metric for 'Confirm for control group':", rec_confirm_c)
confirm_total_t=t['flag_confirm'].sum()
rec_confirm_t=confirm_num_t/confirm_total_t
print("Step Recurrence Metric for 'Confirm for test group':", rec_confirm_t)

Step Recurrence Metric for 'Confirm for control group': 0.9166190421762487
Step Recurrence Metric for 'Confirm for test group': 0.844804790791725

### Statistical Test for Step Recurrence Metric

#### Statistical Test for 'Start' Step Recurrence Metric

In [200]:
#Right-tailed Proportions Z-test for 'Start' Step Recurrence Metric
start_distincts=np.array([start_num_c,start_num_t])
start_repeats=np.array([start_total_c,start_total_t])
(test_stat, p_value)=proportions_ztest(start_distincts,start_repeats, alternative='larger')
print("Z-statistic for 'start' step recurrence metric:", test_stat)
print("p-value:", p_value)
#means control is sginificantly better (less repetition)

Z-statistic for 'start' step recurrence metric: 20.564545160840638
p-value: 2.8516052568600364e-94

#### Statistical Test for 'Step1' Step Recurrence Metric

In [199]:
#Right-tailed Proportions Z-test for 'Step1' Step Recurrence Metric
step1_distincts=np.array([step1_num_c,step1_num_t])
step1_repeats=np.array([step1_total_c,step1_total_t])
(test_stat, p_value)=proportions_ztest(step1_distincts,step1_repeats, alternative='larger')
print("Z-statistic for 'step1' step recurrence metric:", test_stat)
print("p-value:", p_value)
#means control is sginificantly better (less repetition)

Z-statistic for 'step1' step recurrence metric: 19.40715688959821
p-value: 3.357042659237477e-84

#### Statistical Test for 'Step2' Step Recurrence Metric

In [201]:
#Left-tailed Proportions Z-test for 'Step2' Step Recurrence Metric
step2_distincts=np.array([step2_num_c,step2_num_t])
step2_repeats=np.array([step2_total_c,step2_total_t])
(test_stat, p_value)=proportions_ztest(step2_distincts,step2_repeats, alternative='smaller')
print("Z-statistic for 'step2' step recurrence metric:", test_stat)
print("p-value:", p_value)
#means test is sginificantly better (less repetition)

Z-statistic for 'step2' step recurrence metric: -3.6723335084827697
p-value: 0.00012017286712718416

#### Statistical Test for 'Step3' Step Recurrence Metric

In [202]:
#Left-tailed Proportions Z-test for 'Step3' Step Recurrence Metric
step3_distincts=np.array([step3_num_c,step3_num_t])
step3_repeats=np.array([step3_total_c,step3_total_t])
(test_stat, p_value)=proportions_ztest(step3_distincts,step3_repeats, alternative='smaller')
print("Z-statistic for 'step3' step recurrence metric:", test_stat)
print("p-value:", p_value)
#means test is sginificantly better (less repetition)

Z-statistic for 'step3' step recurrence metric: -15.877384241372063
p-value: 4.544522426549254e-57

#### Statistical Test for 'Confirm' Step Recurrence Metric

In [203]:
#Right-tailed Proportions Z-test for 'Confirm' Step Recurrence Metric
confirm_distincts=np.array([confirm_num_c,confirm_num_t])
confirm_repeats=np.array([confirm_total_c,confirm_total_t])
(test_stat, p_value)=proportions_ztest(confirm_distincts,confirm_repeats, alternative='larger')
print("Z-statistic for 'confirm' step recurrence metric:", test_stat)
print("p-value:", p_value)
#means control is sginificantly better (less repetition)

Z-statistic for 'confirm' step recurrence metric: 22.074025526098033
p-value: 2.8080957599531705e-108

## BOUNCE RATE

### Statistical Test for Bounce Rate

In [205]:
#Right-tailed Proportions Z-Test for Bounce rate
#Values from Excel Pivot 
from statsmodels.stats.proportion import proportions_ztest
bounces=np.array([7629,5132])
total_visits=np.array([30835,33096])
(test_stat, p_value)=proportions_ztest(bounces,total_visits, alternative='larger')
print("Z-statistic for bounce rate:", test_stat)
print("p-value:", p_value)

Z-statistic for bounce rate: 29.19109740140733
p-value: 1.2577899941103366e-187